*.sublime-project
*.sublime-workspace
npm-debug.log
node_modules
.idea
test/spec/output.docx
/output.docx
tags
/docs/build
*.spec.js
*.spec.map
*.log
/js
/build
/browser
examples/index.html
*.es5
.babel.json
browser/
build/
vendor/
js/
test/
coverage/
prof/
