*.sublime-project
*.sublime-workspace
npm-debug.log
node_modules
.idea
test/spec/output.docx
/output.docx
tags
/docs/build
*.spec.js
*.spec.map
*.log
/js
/build
examples/index.html
*.es5
.babel.json
prof
profile_output_total.json
p.json
browser/*
!browser/.gitkeep
coverage
/*.docx
/*.pptx
trackedfiles
