*.data
*.es5
*.log
*.old
*.tgz
*.png
*.sublime-project
*.sublime-workspace
.idea
/*.docx
/*.pptx
browser
cli
es6
ISSUE_TEMPLATE.md
vendor
*.yml
*.bash
/docs
/docs/build
/examples
/output.docx
*.spec.js
/test
coverage
examples/index.html
node_modules
p.json
prof
profile_output_total.json
tags
