*.tgz
*.log
*.sublime-project
*.sublime-workspace
es6/tests/__snapshots.js
.idea
/*.ts
/*.docx
/*.docm
/*.dotm
/*.dotx
/*.pptx
/*.pptm
/*.potm
/*.potx
/*.xlsm
/*.xlsx
/*.xltm
/*.xltx
/build
/docs/build
/js
/output.docx
browser/*
*.spec.js
!browser/.gitkeep
coverage
examples/index.html
node_modules
p.json
prof
profile_output_total.json
tags
/es6/tests/filenames.js
browser-demo/
.nyc_output/
.stryker-tmp
reports
/expressions-ie11.js
/text.js
/expressions.js
*.pdf
